body {
    /*background-color: #e6ccff;*/
    background-color: whitesmoke;
    color: slateblue;
    font-family: sans-serif;
    text-align: center;
}

.Plot {
    /*background-color: white;*/
}

circle {
    opacity: 0.75;
}
